# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local databases (Since you are switching to PostgreSQL)
*.sqlite3

# Environments and virtualenvs
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp